*{
    box-sizing: border-box;
}

.header-panel .navbar-toggler{
    display: none;
}

body{
    font-family: "Inter", serif;
}

a{
    text-decoration: none;
    color: #999999;
    border-bottom: 2px solid #fff;
    transition: all .3;
}

a:hover{
    border-bottom: 2px solid #15ABA9;
    transition: all .3s;
}


.navbar-toggler{
    display: none;
}

.header-inner .navbar{
    padding-top: 0;
    padding-bottom: 0;
}

.header-inner .navbar .navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
    border: none;
}

.header-panel{
    display: flex;
    align-items: center;
}

.header-panel ul{
    display: flex;
    align-items: center;
}

.header-panel button{
    border: none;
    padding: 0;
    background-color: transparent;
}

.header-panel ul li a{
    font-family: "Rubik", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 3px;
}

.header-panel ul li{
    margin-right: 22px;
}

.header-panel .flat-counter{
    background-color: #15ABA9;
    padding: 11px 20px 11px 13px;
    color: #fff;
    display: flex;
    align-items: end;
    margin-right: 31px;
    border-radius: 22px;
    cursor: pointer;
    transition: all .3s;
}

.header-panel .flat-counter:hover{
    transition: all .3s;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
}

.flat-counter img{
    margin-left: 6px;
}

.login-panel{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    border-left: 1px solid #EDEDED;
}

.first{
    margin-bottom: 60px;
}

.first-inner{
    display: flex;
    align-items: center;
    background-color: #F6F7FA;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
}

.first-logo{
    margin: 0 auto;
    text-align: center;
}

.first-logo img{
    margin-bottom: 66px;
}

.first-logo h1{
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
    max-width: 243px;
    color: #45505B;
}

h2{
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 150%;
    background: linear-gradient(120deg, rgba(15, 148, 0, 1) 0%, rgba(21, 171, 169, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.unternehmen{
    padding-bottom: 50px;
    border-bottom-left-radius: 60px;
    box-shadow: 0px 8px 5px -5px rgb(0 0 0 / 11%);
}

.unternehmen .container-fluid{
    max-width: 1200px;
    margin: 0 auto;
}

.unternehmen .col-12{
    padding: 0;
}

.unternehmen-inner{
    display: flex;
    flex-wrap: wrap;
}

.unternehmen-inner p{
    width: 50%;
    max-width: 585px;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: #45505B;
}

.unternehmen-inner p:nth-child(-n+2){
    margin-bottom: 25px;
}

.unternehmen-inner p:nth-child(2n+1){
    margin-right: 30px;
}

.service{
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(180deg, rgba(241, 241, 241, 1) 0%, rgba(218, 241, 217, 1) 100%);
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.6) inset;
    margin-bottom: 60px;
}

.service .container-fluid{
    max-width: 1200px;
    margin: 0 auto;
}

.service .col-12{
    padding: 0;
}

.service-inner{
    display: flex;
    flex-wrap: wrap;
}

.service-inner p{
    width: 50%;
    max-width: 585px;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: #45505B;
}

.service-inner p:nth-child(-n+2){
    margin-bottom: 25px;
}

.service-inner p:nth-child(2n+1){
    margin-right: 30px;
}